.input {
  height: 32px;
  padding: 0 8px;
  font-size: 16px;
  border: 1px solid var(--border-neutral-secondary);
  border-radius: 6px;
  background: var(--color-background);
  color: var(--color-primary-text);
  outline: none;
}

.input:focus {
  border: 2px solid var(--border-brand-default);
}